In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:

print(pd.__version__)

2.1.4

In [3]:
df = pd.read_csv("Bank_Churn_Data_Dictionary.csv")

In [4]:
 df.head(10)

           Field                                        Description
0     CustomerId              A unique identifier for each customer
1        Surname                           The customer's last name
2    CreditScore  A numerical value representing the customer's ...
3      Geography  The country where the customer resides (France...
4         Gender             The customer's gender (Male or Female)
5            Age                                 The customer's age
6         Tenure  The number of years the customer has been with...
7        Balance                     The customer's account balance
8  NumOfProducts  The number of bank products the customer uses ...
9      HasCrCard  Whether the customer has a credit card (1 = ye...

In [5]:
df.tail()

              Field                                        Description
8     NumOfProducts  The number of bank products the customer uses ...
9         HasCrCard  Whether the customer has a credit card (1 = ye...
10   IsActiveMember  Whether the customer is an active member (1 = ...
11  EstimatedSalary               The estimated salary of the customer
12           Exited  Whether the customer has churned (1 = yes, 0 =...

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Field        13 non-null     object
 1   Description  13 non-null     object
dtypes: object(2)
memory usage: 340.0+ bytes

In [7]:
df.describe()

             Field                            Description
count           13                                     13
unique          13                                     13
top     CustomerId  A unique identifier for each customer
freq             1                                      1

In [9]:

df.columns

Index(['Field', 'Description'], dtype='object')

In [10]:
df.dtypes

Field          object
Description    object
dtype: object

In [11]:
df.shape

(13, 2)

In [12]:
df.columns

Index(['Field', 'Description'], dtype='object')

In [13]:
df.rename(columns={'Field': 'name'},inplace=True)

In [14]:
df.columns

Index(['name', 'Description'], dtype='object')

In [17]:
df.to_csv('copydata.csv',index=False)
df.head()

          name                                        Description
0   CustomerId              A unique identifier for each customer
1      Surname                           The customer's last name
2  CreditScore  A numerical value representing the customer's ...
3    Geography  The country where the customer resides (France...
4       Gender             The customer's gender (Male or Female)

In [19]:
df.isnull().sum()

name           0
Description    0
dtype: int64

In [20]:
df.dropna()

               name                                        Description
0        CustomerId              A unique identifier for each customer
1           Surname                           The customer's last name
2       CreditScore  A numerical value representing the customer's ...
3         Geography  The country where the customer resides (France...
4            Gender             The customer's gender (Male or Female)
5               Age                                 The customer's age
6            Tenure  The number of years the customer has been with...
7           Balance                     The customer's account balance
8     NumOfProducts  The number of bank products the customer uses ...
9         HasCrCard  Whether the customer has a credit card (1 = ye...
10   IsActiveMember  Whether the customer is an active member (1 = ...
11  EstimatedSalary               The estimated salary of the customer
12           Exited  Whether the customer has churned (1 = yes, 0 =...

In [22]:
df.fillna(11)

               name                                        Description
0        CustomerId              A unique identifier for each customer
1           Surname                           The customer's last name
2       CreditScore  A numerical value representing the customer's ...
3         Geography  The country where the customer resides (France...
4            Gender             The customer's gender (Male or Female)
5               Age                                 The customer's age
6            Tenure  The number of years the customer has been with...
7           Balance                     The customer's account balance
8     NumOfProducts  The number of bank products the customer uses ...
9         HasCrCard  Whether the customer has a credit card (1 = ye...
10   IsActiveMember  Whether the customer is an active member (1 = ...
11  EstimatedSalary               The estimated salary of the customer
12           Exited  Whether the customer has churned (1 = yes, 0 =...